<!-- category.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title><%= category %> Tips</title>
  </head>
  <body>
    <h1><%= category %> Eco-Friendly Tips</h1>

    <!-- Display tips retrieved from the database for the specified category -->
    <% for (let tip of tips) { %>
    <div>
      <!-- Display tip details -->
      <h3><%= tip.category %></h3>
      <p><%= tip.text %></p>

      <!-- Check if there is an image URL -->
      <% if (tip.image) { %>
      <img src="<%= tip.image %>" alt="Tip Image" />
      <% } %>

      <!-- Check if there is a link -->
      <% if (tip.link) { %>
      <a href="<%= tip.link %>" target="_blank">Read more</a>
      <% } %>

      <!-- Display the name of the user -->
      <p>Submitted by: <%= tip.username %></p>

      <!-- Display the date and time of submission -->
      <!-- Display the date and time of submission -->
      <p>Created at: <%= tip.created_at %></p>

      <form action="/upvote/<%= tip.id %>" method="post">
        <button type="submit">Upvote</button>
      </form>
      <p>Upvotes: <%= tip.upvotes %></p>
    </div>
    <% } %>
  </body>
</html>
