<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>Search Results</title>
  </head>
  <body>
    <h1>Search Results for "<%= query %>"</h1>

    <!-- Display search results -->
    <% for (let tip of tips) { %>
    <!-- Render each tip with all details -->
    <div>
      <h2><%= tip.text %></h2>

      <!-- Check if there is an image URL -->
      <% if (tip.image) { %>
      <img src="<%= tip.image %>" alt="Tip Image" />
      <% } %>

      <!-- Check if there is a link -->
      <% if (tip.link) { %>
      <a href="<%= tip.link %>" target="_blank">Read more</a>
      <% } %>

      <!-- Display the name of the user -->
      <p>Submitted by: <%= tip.username %></p>

      <!-- Display the date and time of submission -->
      <p>Created at: <%= tip.formattedCreatedAt %></p>

      <form action="/upvote/<%= tip.id %>" method="post">
        <button type="submit">Upvote</button>
      </form>
      <p>Upvotes: <%= tip.upvotes %></p>
    </div>
    <% } %>
  </body>
</html>
